
.paper
  // border: 2px solid #ccc

  --segments: 5
  width: var(--w)
  height: var(--h)
  position: relative

.paper > .segment
  height: calc(1 / var(--segments) * 100%)

.segment
  width: 100%
  height: 100%
  background: var(--card-bg)
  position: absolute
  border-bottom: none
  border-top: none
  top: calc(var(--segments-up) / var(--segments) * 100%)

  & > .segment
    &[data-direction="up"]
      top: unset
      bottom: 100%
      transform-origin: bottom
    &[data-direction="down"]
      top: 100%
      transform-origin: top

  .content-wrapper
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    & > .content
      position: absolute
      width: var(--w)
      height: var(--h)
      top: calc((var(--index)) * -100%)

article
  padding: 20px

  h1
    margin-bottom: 20px
  p
    line-height: 1.5
    font-weight: 300
    margin-bottom: 16px
    text-align: justify
    text-align-last: left
    word-break: break-word
  a
    color: #138D75
    margin: 0px 5px
  code
    background: rgba(100, 100, 100, 0.1)
    padding: 2px 4px
    border-radius: 2px
    color: #138D75
    font-family: monospace
    margin: 0px 5px

// animations
.paper
  animation: enter var(--duration) ease forwards
  @keyframes enter
    0%
      transform: translateZ(4000px) rotateY(0deg) rotateX(0deg)
    100%
      transform: translateZ(0px) rotateY(0deg) rotateX(0deg)

.move-in
  animation: moveIn var(--duration) ease forwards
  @keyframes moveIn
    0%
      transform: translateX(0vw) translateY(10vh) rotateX(20deg) rotateY(-40deg) rotateZ(-80deg)
    100%
      transform: translateX(0vw) translateY(0vh) rotateX(0deg) rotateY(0deg) rotateZ(0deg)


.replay-btn
  padding: 10px 20px
  border-radius: 8px
  background: #138D75
  color: #fff
  position: fixed
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  border: none
  cursor: pointer
  display: flex
  align-items: center
  gap: 4px

  &:active
    box-shadow: 0px 0px 0px 2px #138D7530

  &::after
    content: ""
    position: absolute
    inset: 0
    border-radius: inherit
    background: #fff
    opacity: 0
    transition: opacity 0.2s ease
  &:hover::after
    opacity: 0.1